body {
    background-color: #f2f2f2;
}

.login-box {
    width: 300px;
    margin: 150px auto;
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: darkgreen;
}
