.product-card {
    width: 300px;
    margin: 80px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.buy-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #0056b3;
}
